
<script src="./js/classes.js"></script>
<!-- **************** Classroom info ******************* -->
<header class="classroomInfo">
    <h3></h3>
</header>



<!-- **************** Kyoto Kita classes ******************* -->
<section class="kyoto-kita venue">
    <span class="location"><b>京都教室</b>   ・北文化会館    <em>地図</em>    ／  ・ウィングス京都	<em>地図</em></span>
    <p class="courseInfo"><b></b><br></p>
    <div id="cal-木" class="grid-wrap">
        <!-- calendars are generated in this section by javascript -->
        <p class="days"><span>木曜クラス</span>
            <br><span>第2、第4 木曜日  ・昼の部</span>
            <br><span class="right">・夜の部</span> 
        </p>
        <p class="times">
            <br>14： 30～16：30  
            <br> 18： 30～20：30 
        </p>
    </div>
    <div id="cal-金" class="grid-wrap">
        <p class="days"><span>金曜クラス</span>
            <br><span>第1、第3 金曜日	</span>
        </p>
        <p class="times">
            <br>14： 30～16：30
        </p>
    </div>
    <div id="cal-土" class="grid-wrap">
        <p class="days"><span>土曜クラス</span>
            <br><span>第2、 第4	土曜日</span>
        </p>
        <p class="times">
            <br>14： 00～16：00
        </p>
    </div>

</section>


<!-- **************** Kyoto Asahi classes ******************* -->
<section class="kyoto-asahi venue">
    <span class="location"><b>京都</b>   ・朝日カルチャーセンター教室    <em>地図</em></span>
    <p class="courseInfo"></p>
    <div id="cal-3土" class="grid-wrap">
        <p class="days"><span>第3 土曜日</span></p>
        <p class="times"><br>10:30～12:30</p>

    </div>
    
</section>


<!-- **************** JEUGIA classes ******************* -->
<section class="kyoto-jeugia venue">
    <span class="location"><b>京都   ・JEUGIA</b>カルチャーセンター洛北阪急スクエア    <em>地図</em></span>
    <p class="courseInfo"></p>
    
    <div id="cal-2金" class="grid-wrap">
        <p class="days"><span>第4 金曜日	</span></p>
        <p class="times"><br>10:30～12:30</p>
    </div>
</section>


<!-- **************** Fukui Wednesday classes ******************* -->
<section class="fukui-wed venue">
    
    <div class="location">
        <span class="sp1"><b>福井</b> ・水曜教室</span>
        <span class="sp2">・昼の部 福井商工会議所<em>地図</em></span>
        <span class="sp3">・夜の部 AOSSA(アオッサ)	<em> 地図</em></span>
    </div>

    
    
    
    <p class="courseInfo"><b></b></p>

    <div id="cal-水" class="grid-wrap">
        <p class="days"><span>第1、第3 水曜	日</span></p>
        <p class="times"><br>・昼の部 14:30～16:30<br>・夜の部 18:30～20:30</p>

    </div>

</section>


<!-- **************** Fukui Newspaper classes ******************* -->
<section class="fukui-newspaper venue">
    <span class="location"><b>福井</b>・福井新聞文化センター    <em>地図</em></span>
    <p class="courseInfo"></p>
    <div id="cal-火" class="grid-wrap">
        <p class="days"><span>第1、第3 火曜日</span></p>
        <p class="times"><br>19:00～21:00</p>

    </div>

</section>


<!-- **************** Fukui Sabae classes ******************* -->
<section class="fukui-sabae venue">
    <span class="location"><b>福井</b>   鯖江市文化センター   <em>	地図</em></span>
    <p class="courseInfo"><b></b></p>
    <div id="cal-月" class="grid-wrap">
        <p class="days">
            <span>第1、第3 月曜日  ・昼の部</span>
            <span class="right">・夜の部</span> 
        </p>
        <p class="times">
            <br>14:30-16:30
            <br>19:00-21:00 
        </p>

    </div>
</section>
</div>

<script>
    <% calendars.forEach((calendar, index) => { %>
        calendar(<%- calendar.year %>,<%- calendar.month %>,'<%= calendar.cal_1 %>','<%= calendar.cal_2 %>',[<%= calendar.arrDates %>],'<%= calendar.note %>');    
    <% }); %>
    
// ***********************************************************
// call script to create calendars for Kyoto Kita
// ***********************************************************


// var arrDates = [13,27];
// var note = "※27日午後ウィングス京都";
// calendar(2024,6,"cal-木","cal-1",arrDates, note);

// var arrDates = [11];
// var note = "";
// calendar(2024,7,"cal-木","cal-2", arrDates, note);

// var arrDates = [7,21];
// var note = "※7日ウィングス京都";
// calendar(2024,6,"cal-金","cal-1",arrDates, note);

// var arrDates = [19];
// var note = "※ウィングス京都";
// calendar(2024,7,"cal-金","cal-2",arrDates, note);

// var arrDates = [8,22];
// var note = "※両日ウイングス京都";
// calendar(2024,6,"cal-土","cal-1",arrDates, note);

// var arrDates = [13];
// var note = "";
// calendar(2024,7,"cal-土","cal-2",arrDates, note);



// ***********************************************************
// call script to create calendars for Kyoto Asahi
// ***********************************************************
// var arrDates = [15];
// var note = "";
// calendar(2024,6,"cal-3土","cal-1",arrDates, note);

// var arrDates = [20];
// var note = "";
// calendar(2024,7,"cal-3土","cal-2", arrDates, note);

// ***********************************************************
// call script to create calendars for Kyoto JEUGIA 
// ***********************************************************
// var arrDates = [28];
// var note = "";
// calendar(2024,6,"cal-2金","cal-1", arrDates, note);

// var arrDates = [""];
// var note = "";
// calendar(2024,6,"cal-2金","cal-1", arrDates, note);

// ***********************************************************
// call script to create calendars for Fukui Wednesday classes
// var arrDates = [5,19];
// var note = "";
// calendar(2024,6,"cal-水","cal-1", arrDates, note);

// var arrDates = [3,24];
// var note = "";
// calendar(2024,6,"cal-水","cal-2", arrDates, note);

// ***********************************************************

// ***********************************************************
// call script to create calendars for Fukui Newspaper classes
// ***********************************************************
// var arrDates = [4,18];
// var note = "";
// calendar(2024,6,"cal-火","cal-1", arrDates, note);

// var arrDates = [2,23];
// var note = "";
// calendar(2024,7,"cal-火","cal-2", arrDates, note);

// ***********************************************************
// call script to create calendars for Fukui Sabae classes
// ***********************************************************
// var arrDates = [3,17];
// var note = "";
// calendar(2024,6,"cal-月","cal-1", arrDates, note);

// var arrDates = [1,22];
// var note = "";
// calendar(2024,7,"cal-月","cal-2", arrDates, note);


</script>    
