
<script src="./js/classes.js"></script>
<!-- **************** Classroom info ******************* -->
<header class="classroomInfo">
<h3></h3>
<p>京都教室・福井教室、どちらの教室でも、フルーツカービング／ソープカービングの両方を楽しんでいただけます。
全ての教室にて体験受講随時受付中です。
＊朝日カルチャーセンター教室・JEUGIAカルチャー京都de Basic.・福井新聞文化センター教室につきましては、各教室へ直接お問い合わせください。
その他、出張講習、 ワークショップなど、詳しくはお気軽にお問い合わせ下さい。
お問い合わせは佐藤朋子まで
<a href="mailto: sato@chu-sin.com">mail : sato@chu-sin.com</a>
tel : 075-606-5376
＊レッスンなどで電話対応が出来 ないことが多いため、なるべくメールでのご連絡をお願いいたします。
<b>日程、料金等は下記をご覧ください↓</b></p>
</header>



<!-- **************** Kyoto Kita classes ******************* -->
<section class="kyoto-kita venue">
    <span class="location">
        <b>京都教室</b>   ・北文化会館    <a href="https://www.kyoto-ongeibun.jp/kita/access/" target="_blank"><em>地図</em></a>    ／  ・ウィングス京都	<a href="https://www.wings-kyoto.jp/about-wings/access/" target="_blank"><em>地図</em></a>
    
    </span>
    <!-- <p class="courseInfo"><b></b><br></p> -->

    <p class="courseLink">
            コース案内

            ◆ ベーシック： 15,750円／5回(果物または野菜3回、石鹸2回)
            ◆ ソープ： 15,750円／5回 (石鹸5回)
            ◆ フルーツ：16,350円／5回 (果物または野菜 5回)
            ◆ 薔薇：15,750円／５回 (石鹸５回) 詳しくは>><a href="/topics/2017/details/0111">コチラ</a>
            体験レッスン：3,300円
            単発レッスン：3,600円
            ＊各コース有効期限５ヶ月
            ＊材料費別途
            ＊施設利用料 300円/1回
            ＊日時は都合により変更の場合あります
    </p>

    <div id="cal-木" class="grid-wrap days-times">
        <!-- calendars are generated in this section by javascript -->
        <p class="days">
            <span class="class-day">木曜クラス</span>
            <span class="justify">第2、第4 木曜日  ・昼の部</span>
            <span class="right">・夜の部</span> 
        </p>
        <p class="times">
            <span class="grid-row-2">14:30～16:30</span>  
            <span class="grid-row-3">18:30～20:30</span> 
        </p>
    </div>
    <div id="cal-金" class="grid-wrap days-times">
        <p class="days">
            <span class="class-day">金曜クラス</span>
            <span class="indent">第1、第3 金曜日	</span>
        </p>
        <p class="times">
            <span class="grid-row-2">14:30～16:30</span>
        </p>
    </div>
    <div id="cal-土" class="grid-wrap days-times">
        <p class="days">
            <span class="class-day">土曜クラス</span>
            <span class="indent">第2、 第4	土曜日</span>
        </p>
        <p class="times">
            <span class="grid-row-2">14:00～16:00</span>
        </p>
    </div>

</section>


<!-- **************** Kyoto Asahi classes ******************* -->
<section class="kyoto-asahi venue">
    <span class="location">
        <b>京都</b>   ・土曜クラス  午前の部 ／オフィスゴコマチ    <a href="https://office-gocomachi.com/access/#i-1" target="_blank"><em>地図</em></a>
    </span>
    <!-- <p class="courseInfo"><b></b></p> -->
    <p class="courseLink">
            コース案内

            ◆ ベーシック： 15,750円／5回(果物または野菜3回、石鹸2回)
            ◆ ソープ： 15,750円／5回 (石鹸5回)
            ◆ フルーツ：16,350円／5回 (果物または野菜 5回)
            ◆ 薔薇：15,750円／５回 (石鹸５回) 詳しくは>><a href="/topics/2017/details/0111">コチラ</a>
            体験レッスン：3,300円
            単発レッスン：3,600円
            ＊各コース有効期限５ヶ月
            ＊材料費別途
            ＊施設利用料 300円/1回
            ＊日時は都合により変更の場合あります
    </p>
    <div id="cal-3土" class="grid-wrap">
        <p class="days">
            <span class="class-day center">第3 土曜日</span>
            <!-- <span class="time">10:30～12:30</span> -->
        </p>
        <p class="times">
            <span class="time">10:30～12:30</span>
        </p>

    </div>
    
</section>


<!-- **************** JEUGIA classes ******************* -->
<section class="kyoto-jeugia venue">
    <span class="location">
        <b>京都   ・JEUGIA</b>カルチャーセンター洛北阪急スクエア    <a href="https://culture.jeugia.co.jp/hall_information_70.html#information" target="_blank"><em>地図</em></a>
    </span>
    <!-- <p class="courseInfo"></p> -->
    <p class="courseLink">
        料金等、詳しくは>><a href="https://culture.jeugia.co.jp/lesson_detail_70-55441.html">コチラ</a>
            日時は都合により変更の場合あります。
            
            JEUGIAカルチャーセンター洛北阪急スクエア
            Tel：075-705-0131[電話受付10:00〜19:00]
    </p>
    
    <div id="cal-2金" class="grid-wrap">
        <p class="days class-day center">
            <span>第4 金曜日</span>
        </p>
        <p class="times grid-row-1">
            <span>10:30～12:30</span>
        </p>
    </div>
</section>


<!-- **************** Fukui Wednesday classes ******************* -->
<section class="fukui-wed venue">
    
    <!-- <div class="location"> -->
        <span class="location"><b>福井</b> ・水曜教室・福井商工会議所 <a href="https://www.fcci.or.jp/fbil/access/index.php" target="_blank">      <em>地図</em></a></span>
        <!-- <span class="sp3">・夜の部 AOSSA(アオッサ)	<a href="http://www.aossa.jp/access/" target="_blank"><em>地図</em></a>
        </span> -->
    <!-- </div> -->

    
    
    
    <!-- <p class="courseInfo"><b></b></p> -->
         <p class="courseLink">
コース案内

◆ ベーシック： 15,750円／5回(果物または野菜3回、石鹸2回)
◆ ソープ： 15,750円／5回 (石鹸5回)
◆ フルーツ：16,350円／5回 (果物または野菜 5回)
◆ 薔薇：15,750円／５回 (石鹸５回) 詳しくは>><a href="/topics/2017/details/0111">コチラ</a>
体験レッスン：3,300円
単発レッスン：3,600円
＊各コース有効期限５ヶ月
＊材料費別途
＊施設利用料 300円/1回
＊日時は都合により変更の場合あります
    </p>


    <div id="cal-水" class="grid-wrap">
        <p class="days class-day center">
            <span>第1、第3 水曜	日</span>
            <!-- <span class="right grid-row-3">・昼の部 </span> -->
            <!-- <span class="right">・夜の部</span> -->
        </p>
        <p class="times">
            
            <span >14:30～16:30</span>
            <!-- <span class="grid-row-3">18:30～20:30</span> -->
        </p>

    </div>

</section>


<!-- **************** Fukui Newspaper classes ******************* -->
<section class="fukui-newspaper venue">
    <span class="location">
        <b>福井</b>・福井新聞文化センター    <a href="https://web.my-class.jp/fcc/asp-webapp/jsp/web/fcc/base/access/index.jsp" target="_blank"><em>地図</em></a>
    </span>
    <!-- <p class="courseInfo"></p> -->
    <p class="courseLink">
        料金等、詳しくは>><a href="https://web.my-class.jp/fcc/asp-webapp/web/WWebKozaShosaiNyuryoku.do?kozaId=7688947">コチラ</a>
            日時は都合により変更の場合あります。<br>
            福井新聞文化センター
            tel：0776-57-5200
    </p>
    <div id="cal-火" class="grid-wrap">
        <p class="days class-day center">
            <span>第1、第3 火曜日</span>
        </p>
        <p class="times">
            18:30～20:30
        </p>

    </div>

</section>


<!-- **************** Fukui Sabae classes ******************* -->
<section class="fukui-sabae venue">
    <span class="location">
        <b>福井</b>   鯖江市文化センター   <a href="https://culturenet-sabae.com/access/" target="_blank"><em>地図</em></a>
    </span>
    <!-- <p class="courseInfo"><b>xx</b></p> -->
<p class="courseLink">
コース案内

◆ ベーシック： 15,750円／5回(果物または野菜3回、石鹸2回)
◆ ソープ： 15,750円／5回 (石鹸5回)
◆ フルーツ：16,350円／5回 (果物または野菜 5回)
◆ 薔薇：15,750円／５回 (石鹸５回) 詳しくは>><a href="/topics/2017/details/0111">コチラ</a>
体験レッスン：3,300円
単発レッスン：3,600円
＊各コース有効期限５ヶ月
＊材料費別途
＊施設利用料 300円/1回
＊日時は都合により変更の場合あります
</p>

    <div id="cal-月" class="grid-wrap">
        <p class="days class-day center">
            <span>第1、第3 月曜日  ・昼の部</span>
            <span class="right">・夜の部</span> 
        </p>
        <p class="times">
            <span>14:30-16:30</span>
            <span>19:00-21:00</span> 
        </p>

    </div>
</section>
</div>

<!-- ***********************************************************
iterate calendars data passed in from controller.js and
call calendar function in classes.js to create calendars
*********************************************************** -->
<script>
    <% calendars.forEach((calendar, index) => { %>
        calendar(<%- calendar.year %>,<%- calendar.month %>,'<%= calendar.cal_1 %>','<%= calendar.cal_2 %>',[<%= calendar.arrDates %>],'<%= calendar.note %>');    
    <% }); %>
</script





