<section class="classes">
  <div class="info">

                              <p>27日に開催されたタイ料理&amp;ソープカービングのイベント &rdquo;Feel the THAI @ ASAI 京都四条" <br>
                                <br>
                                2回目となった今回は初めての方だけでなく<br>
                                前回から続けての方や遠方からのご参加もあり、<br>
                                皆さんそれぞれの"紫陽花"を仕上げていただきました。<br>
                                <br>
                                途中、ランチを手掛けたレイシェフが飛び入り参加し、<br>
                                終始和やかで楽しい雰囲気の中、無事終了。<br>
                                <br>
                                ご参加くださった皆様、ありがとうございました。<br>
                                <br>
                                次回は9月24日(火)に開催決定、毎回メニューが変わる<br>
                                タイ料理ランチと初秋のカービングを楽しんでいただく<br>
                                予定です。<br>
                                <br>
                                詳細は決まり次第、またお知らせいたします。<br>
                                <br>
                              </div>
                          </div>
                          <div>
                              
                                <a href="<%-imgPath%>240530_1.jpg"  rel="lightbox"><img src="<%-imgPath%>240530_1_1.jpg"/></a>
                                <a href="<%-imgPath%>240530_2.jpg"  rel="lightbox"><img src="<%-imgPath%>240530_2_1.jpg"/></a>
                                <a href="<%-imgPath%>240530_3.jpg"  rel="lightbox"><img src="<%-imgPath%>240530_3_1.jpg"/></a>
                              
                              
                                <a href="<%-imgPath%>240530_4.jpg"  rel="lightbox"><img src="<%-imgPath%>240530_4_2.jpg"/></a><a href="<%-imgPath%>240422_1.jpg"  rel="lightbox"></a>
                                &nbsp;
                                <a href="<%-imgPath%>240530_5.jpg"  rel="lightbox"><img src="<%-imgPath%>240530_5_1.jpg"/></a>
                            <p><span class="text10">＊画像をクリックすると拡大します。</span></p>
                      <p><a href="../2021/200110_1.html"  rel="lightbox"></a></p>
                    </div>
                  </section>
                  