<section class="classes">
  <div class="info">

<span class="title">第17回 京都教室作品展　展示作品</span>（2023.8.8更新）</p>
                <p>先月開催しました京都教室作品展の展示作品です。</p>
                  <span class="text10">画像をクリックすると拡大します。</span></p>
                    <a href="<%-imgPath%>240808_1.jpg"></a><img src="<%-imgPath%>240808_1b.jpg" alt="" width="100" height="67" border="0"></a><a href="<%-imgPath%>240808_s1.html"></a></a>
                    <a href="<%-imgPath%>240808_2.jpg"></a><img src="<%-imgPath%>240808_2b.jpg" alt="" width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_3.jpg"></a><img src="<%-imgPath%>240808_3b.jpg" alt="" width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_4.jpg"></a><img src="<%-imgPath%>240808_4b.jpg" alt="" width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_5.jpg"></a><img src="<%-imgPath%>240808_5b.jpg" alt="" width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_8.jpg"></a><img src="<%-imgPath%>240808_8b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_s2.html"></a></a>
                    
                    <a href="<%-imgPath%>240808_9.jpg"></a><img src="<%-imgPath%>240808_9b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_s3.html"></a></a>
                    
                    <a href="<%-imgPath%>240808_10.jpg"></a><img src="<%-imgPath%>240808_10b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_s4.html"></a></a>
                    
                    <a href="<%-imgPath%>240808_11.jpg"></a><img src="<%-imgPath%>240808_11b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_s5.html"></a></a>
                    
                    <a href="<%-imgPath%>240808_12.jpg"></a><img src="<%-imgPath%>240808_12b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_s6.html"></a></a>
                    
                    <a href="<%-imgPath%>240808_13.jpg"></a><img src="<%-imgPath%>240808_13b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    
                    以下は受講されている皆さんの作品です。
                    <a href="<%-imgPath%>240808_14.jpg"></a><img src="<%-imgPath%>240808_14b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_15.jpg"></a><img src="<%-imgPath%>240808_15b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_2.jpg"></a></a>
                    
                    <a href="<%-imgPath%>240808_16.jpg"></a><img src="<%-imgPath%>240808_16b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_17.jpg"></a><img src="<%-imgPath%>240808_17b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_18.jpg"></a><img src="<%-imgPath%>240808_18b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_19.jpg"></a><img src="<%-imgPath%>240808_19b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_20.jpg"></a><img src="<%-imgPath%>240808_20b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_21.jpg"></a><img src="<%-imgPath%>240808_21b.jpg" alt=""  width="100" height="67" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_22.jpg"></a><img src="<%-imgPath%>240808_22b.jpg" alt=""  width="75" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_23.jpg"></a><img src="<%-imgPath%>240808_23b.jpg" alt=""  width="67" height="100" border="0"></a><a href="<%-imgPath%>240808_2.jpg"></a></a>
                    
                    <a href="<%-imgPath%>240808_24.jpg"></a><img src="<%-imgPath%>240808_24b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_25.jpg"></a><img src="<%-imgPath%>240808_25b.jpg" alt=""  width="75" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_26.jpg"></a><img src="<%-imgPath%>240808_26b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_27.jpg"></a><img src="<%-imgPath%>240808_27b.jpg" alt=""  width="75" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_28.jpg"></a><img src="<%-imgPath%>240808_28b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_29.jpg"></a><img src="<%-imgPath%>240808_29b.jpg" alt=""  width="67" height="100" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_30.jpg"></a><img src="<%-imgPath%>240808_30b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_31.jpg"></a><img src="<%-imgPath%>240808_31b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_32.jpg"></a><img src="<%-imgPath%>240808_32b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_33.jpg"></a><img src="<%-imgPath%>240808_33b.jpg" alt=""  width="75" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_34.jpg"></a><img src="<%-imgPath%>240808_34b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_35.jpg"></a><img src="<%-imgPath%>240808_35b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_36.jpg"></a><img src="<%-imgPath%>240808_36b.jpg" alt=""  width="75" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_37.jpg"></a><img src="<%-imgPath%>240808_37b.jpg" alt=""  width="67" height="100" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_38.jpg"></a><img src="<%-imgPath%>240808_38b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_39.jpg"></a><img src="<%-imgPath%>240808_39b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_40.jpg"></a><img src="<%-imgPath%>240808_40b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_41.jpg"></a><img src="<%-imgPath%>240808_41b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_42.jpg"></a><img src="<%-imgPath%>240808_42b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_43.jpg"></a><img src="<%-imgPath%>240808_43b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_44.jpg"></a><img src="<%-imgPath%>240808_44b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_45.jpg"></a><img src="<%-imgPath%>240808_45b.jpg" alt=""  width="100" height="67" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_46.jpg"></a><img src="<%-imgPath%>240808_46b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_47.jpg"></a><img src="<%-imgPath%>240808_47b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_48.jpg"></a><img src="<%-imgPath%>240808_48b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_49.jpg"></a><img src="<%-imgPath%>240808_49b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_50.jpg"></a><img src="<%-imgPath%>240808_50b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_51.jpg"></a><img src="<%-imgPath%>240808_51b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_52.jpg"></a><img src="<%-imgPath%>240808_52b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_53.jpg"></a><img src="<%-imgPath%>240808_53b.jpg" alt=""  width="100" height="67" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_54.jpg"></a><img src="<%-imgPath%>240808_54b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_55.jpg"></a><img src="<%-imgPath%>240808_55b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_56.jpg"></a><img src="<%-imgPath%>240808_56b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_57.jpg"></a><img src="<%-imgPath%>240808_57b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_58.jpg"></a><img src="<%-imgPath%>240808_58b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_59.jpg"></a><img src="<%-imgPath%>240808_59b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_60.jpg"></a><img src="<%-imgPath%>240808_60b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_61.jpg"></a><img src="<%-imgPath%>240808_61b.jpg" alt=""  width="67" height="100" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_62.jpg"></a><img src="<%-imgPath%>240808_62b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_63.jpg"></a><img src="<%-imgPath%>240808_63b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_64.jpg"></a><img src="<%-imgPath%>240808_64b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_65.jpg"></a><img src="<%-imgPath%>240808_65b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_66.jpg"></a><img src="<%-imgPath%>240808_66b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_67.jpg"></a><img src="<%-imgPath%>240808_67b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_68.jpg"></a><img src="<%-imgPath%>240808_68b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_69.jpg"></a><img src="<%-imgPath%>240808_69b.jpg" alt=""  width="100" height="67" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_70.jpg"></a><img src="<%-imgPath%>240808_70b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_71.jpg"></a><img src="<%-imgPath%>240808_71b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_72.jpg"></a><img src="<%-imgPath%>240808_72b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_73.jpg"></a><img src="<%-imgPath%>240808_73b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_74.jpg"></a><img src="<%-imgPath%>240808_74b.jpg" alt=""  width="100" height="67" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_75.jpg"></a><img src="<%-imgPath%>240808_75b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_76.jpg"></a><img src="<%-imgPath%>240808_76b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_77.jpg"></a><img src="<%-imgPath%>240808_77b.jpg" alt=""  width="67" height="100" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_78.jpg"></a><img src="<%-imgPath%>240808_78b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_79.jpg"></a><img src="<%-imgPath%>240808_79b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_80.jpg"></a><img src="<%-imgPath%>240808_80b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_81.jpg"></a><img src="<%-imgPath%>240808_81b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_82.jpg"></a><img src="<%-imgPath%>240808_82b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_83.jpg"></a><img src="<%-imgPath%>240808_83b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_84.jpg"></a><img src="<%-imgPath%>240808_84b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_85.jpg"></a><img src="<%-imgPath%>240808_85b.jpg" alt=""  width="67" height="100" border="0"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240808_86.jpg"></a><img src="<%-imgPath%>240808_86b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_87.jpg"></a><img src="<%-imgPath%>240808_87b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_88.jpg"></a><img src="<%-imgPath%>240808_88b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_89.jpg"></a><img src="<%-imgPath%>240808_89b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                    <a href="<%-imgPath%>240808_90.jpg"></a><img src="<%-imgPath%>240808_90b.jpg" alt=""  width="67" height="100" border="0"></a>
                    
                  </div>
                </section>
                                    
                    
                    
                    
                  
                  
                    
                  
                  
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                  
