<section class="classes">
  <div class="info">
          
              <span>第20回福井教室作品展　展示作品</span>（2024.8.21更新）</p>
                <p>先月開催しました福井教室作品展の展示作品です。</p>
                <p><br>
                  <span>画像をクリックすると拡大します。</span></p>
                    <a href="<%-imgPath%>240821_1.jpg"><img src="<%-imgPath%>240821_1b.jpg"></a><a href="<%-imgPath%>240821_1.jpg"></a>
                    <a href="<%-imgPath%>240821_2.jpg"><img src="<%-imgPath%>240821_2b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_3.jpg"><img src="<%-imgPath%>240821_3b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_4.jpg"><img src="<%-imgPath%>240821_4b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_5.jpg"><img src="<%-imgPath%>240821_5b.jpg"></a>
                  
                    以下は受講されている皆さまの作品です。
                  
                    <a href="<%-imgPath%>240821_6.jpg"><img src="<%-imgPath%>240821_6b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_7.jpg"><img src="<%-imgPath%>240821_7b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_8.jpg"><img src="<%-imgPath%>240821_8b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_9.jpg"><img src="<%-imgPath%>240821_9b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_10.jpg"><img src="<%-imgPath%>240821_10b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_11.jpg"><img src="<%-imgPath%>240821_11b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_12.jpg"><img src="<%-imgPath%>240821_12b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_13.jpg"><img src="<%-imgPath%>240821_13b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_14.jpg"><img src="<%-imgPath%>240821_14b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_15.jpg"><img src="<%-imgPath%>240821_15b.jpg"></a><a href="<%-imgPath%>240821_2.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_16.jpg"><img src="<%-imgPath%>240821_16b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_17.jpg"><img src="<%-imgPath%>240821_17b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_18.jpg"><img src="<%-imgPath%>240821_18b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_19.jpg"><img src="<%-imgPath%>240821_19b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_20.jpg"><img src="<%-imgPath%>240821_20b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_21.jpg"><img src="<%-imgPath%>240821_21b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_22.jpg"><img src="<%-imgPath%>240821_22b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_23.jpg"><img src="<%-imgPath%>240821_23b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_24.jpg"><img src="<%-imgPath%>240821_24b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_25.jpg"><img src="<%-imgPath%>240821_25b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_26.jpg"><img src="<%-imgPath%>240821_26b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_27.jpg"><img src="<%-imgPath%>240821_27b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_28.jpg"><img src="<%-imgPath%>240821_28b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_29.jpg"><img src="<%-imgPath%>240821_29b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_30.jpg"><img src="<%-imgPath%>240821_30b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_31.jpg"><img src="<%-imgPath%>240821_31b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_32.jpg"><img src="<%-imgPath%>240821_32b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_33.jpg"><img src="<%-imgPath%>240821_33b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_34.jpg"><img src="<%-imgPath%>240821_34b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_35.jpg"><img src="<%-imgPath%>240821_35b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_36.jpg"><img src="<%-imgPath%>240821_36b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_37.jpg"><img src="<%-imgPath%>240821_37b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_38.jpg"><img src="<%-imgPath%>240821_38b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_39.jpg"><img src="<%-imgPath%>240821_39b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_40.jpg"><img src="<%-imgPath%>240821_40b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_41.jpg"><img src="<%-imgPath%>240821_41b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_42.jpg"><img src="<%-imgPath%>240821_42b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_43.jpg"><img src="<%-imgPath%>240821_43b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_44.jpg"><img src="<%-imgPath%>240821_44b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_45.jpg"><img src="<%-imgPath%>240821_45b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_46.jpg"><img src="<%-imgPath%>240821_46b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_47.jpg"><img src="<%-imgPath%>240821_47b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_48.jpg"><img src="<%-imgPath%>240821_48b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_49.jpg"><img src="<%-imgPath%>240821_49b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_50.jpg"><img src="<%-imgPath%>240821_50b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_51.jpg"><img src="<%-imgPath%>240821_51b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_52.jpg"><img src="<%-imgPath%>240821_52b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_53.jpg"><img src="<%-imgPath%>240821_53b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_54.jpg"><img src="<%-imgPath%>240821_54b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_55.jpg"><img src="<%-imgPath%>240821_55b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_56.jpg"><img src="<%-imgPath%>240821_56b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_57.jpg"><img src="<%-imgPath%>240821_57b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_58.jpg"><img src="<%-imgPath%>240821_58b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_59.jpg"><img src="<%-imgPath%>240821_59b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_60.jpg"><img src="<%-imgPath%>240821_60b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_61.jpg"><img src="<%-imgPath%>240821_61b.jpg"></a>
                  
                  
                    
                  
                  
                    <a href="<%-imgPath%>240821_62.jpg"><img src="<%-imgPath%>240821_62b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_63.jpg"><img src="<%-imgPath%>240821_63b.jpg"></a>
                    
                    <a href="<%-imgPath%>240821_64.jpg"><img src="<%-imgPath%>240821_64b.jpg"></a>
                    
                  </div>
                </section>
