<section class="classes">
  <div class="info">
    <p><span class="title">京都四条烏丸にてソープカービング体験講座</span>（2023.6.4更新）</p>
    <span >京都四条烏丸にて、ソープカービング体験講座を開催します。</span>
    <p >今回は石鹸にバラの花を咲かせます。</p>
    <p >簡単なバラからちょっと難しいものまで、それぞれのレベルに合わせたメニューをご用意します。</p>
    <p >「思うようなバラが作れない」といったお悩み解決のお手伝いもいたします。</p>
    <p >初めての方はもちろん、中級・上級の方も、お気軽にご参加ください。</p>
    <p >お待ちしております</p>
    <p >日程：６月13日（火）　１３：００〜１５：００</p>
    <p >受講料：３,３００円（材料費　２００円／石鹸１個）　＊ナイフは無料貸し出し可</p>
    <p >会場：JEUGIAカルチャー京都de Basic. （京都四条烏丸）                  </p>
    <p >詳しくはこちら &gt;&gt;<strong> <a href="https://culture.jeugia.co.jp/lesson_detail_2-47552.html" target="_blank">lesson_detail_2-47552.html</a></strong></p>
  </div>

  <div class="pics">
    <a href="<%-imgPath%>230603_1.jpg"  rel="lightbox"><img src="<%-imgPath%>230603_1_1.jpg"/></a>
    <a href="<%-imgPath%>230603_2.jpg"  rel="lightbox"><img src="<%-imgPath%>230603_2_1.jpg"/></a>
    <a href="<%-imgPath%>230603_3.jpg"  rel="lightbox"><img name="230105_2" src="<%-imgPath%>230603_3_1.jpg"/></a>
  </div> 

  <div class="info">
    <p>＊画像をクリックすると拡大します。</p>
  </div>
</section>