<section class="classes">
  <div class="info">
    <span class="title">第16回京都教室作品展　展示作品</span>（2023.8.6更新）</p>
    <p>先月に開催しました、京都教室作品展の展示作品です。</p>
    <p><br>
    <span>画像をクリックすると拡大します。</span></p>
  </div>

  <div class="pics">
    <a href="<%-imgPath%>230807_1.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_1b.jpg"></a><a href="<%-imgPath%>230807_s1.html"  rel="lightbox"></a>
    <img src="../../image/spacer.gif" width="10" height="1">
    <a href="<%-imgPath%>230807_s2.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_s2b.jpg"></a>
    <img src="../../image/spacer.gif"  width="10" height="1">
    <a href="<%-imgPath%>230807_s3.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_s3b.jpg"></a>
    <img src="../../image/spacer.gif"  width="10" height="1">
    <a href="<%-imgPath%>230807_s4.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_s4b.jpg"></a>
    <img src="../../image/spacer.gif"  width="10" height="1">
    <a href="<%-imgPath%>230807_s5.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_s5b.jpg"></a>
    <img src="../../image/spacer.gif"  width="10" height="1">
    <a href="<%-imgPath%>230807_s6.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_s6b.jpg"></a>
  </div>

  <div class="info">以下は受講されている皆さまの作品です。</div>

  <div class="pics">
    <a href="<%-imgPath%>230807_7.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_7b.jpg"></a>

    <a href="<%-imgPath%>230807_2.html"  rel="lightbox"></a><a href="<%-imgPath%>230807_8.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_8b.jpg"></a>

    <a href="<%-imgPath%>230807_9.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_9b.jpg"></a>

    <a href="<%-imgPath%>230807_10.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_10b.jpg"></a>

    <a href="<%-imgPath%>230807_11.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_11b.jpg"></a>

    <a href="<%-imgPath%>230807_12.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_12b.jpg"></a>

    <a href="<%-imgPath%>230807_13.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_13b.jpg"></a>

    <a href="<%-imgPath%>230807_14.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_14b.jpg"></a>
    <a href="<%-imgPath%>230807_15.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_15b.jpg"></a>

    <a href="<%-imgPath%>230807_2.html"  rel="lightbox"></a><a href="<%-imgPath%>230807_16.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_16b.jpg"></a>

    <a href="<%-imgPath%>230807_17.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_17b.jpg"></a>

    <a href="<%-imgPath%>230807_18.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_18b.jpg"></a>

    <a href="<%-imgPath%>230807_19.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_19b.jpg"></a>

    <a href="<%-imgPath%>230807_20.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_20b.jpg"></a>

    <a href="<%-imgPath%>230807_21.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_21b.jpg"></a>

    <a href="<%-imgPath%>230807_22.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_22b.jpg"></a>
    <a href="<%-imgPath%>230807_23.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_23b.jpg"></a>

    <a href="<%-imgPath%>230807_24.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_24b.jpg"></a>

    <a href="<%-imgPath%>230807_25.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_25b.jpg"></a>

    <a href="<%-imgPath%>230807_26.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_26b.jpg"></a>

    <a href="<%-imgPath%>230807_27.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_27b.jpg"></a>

    <a href="<%-imgPath%>230807_28.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_28b.jpg"></a>

    <a href="<%-imgPath%>230807_29.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_29b.jpg"></a>

    <a href="<%-imgPath%>230807_30.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_30b.jpg"></a>
    <a href="<%-imgPath%>230807_31.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_31b.jpg"></a>

    <a href="<%-imgPath%>230807_32.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_32b.jpg"></a>

    <a href="<%-imgPath%>230807_33.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_33b.jpg"></a>

    <a href="<%-imgPath%>230807_34.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_34b.jpg"></a>

    <a href="<%-imgPath%>230807_35.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_35b.jpg"></a>

    <a href="<%-imgPath%>230807_36.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_36b.jpg"></a>

    <a href="<%-imgPath%>230807_37.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_37b.jpg"></a>

    <a href="<%-imgPath%>230807_38.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_38b.jpg"></a>
    <a href="<%-imgPath%>230807_39.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_39b.jpg"></a>

    <a href="<%-imgPath%>230807_40.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_40b.jpg"></a>

    <a href="<%-imgPath%>230807_41.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_41b.jpg"></a>

    <a href="<%-imgPath%>230807_42.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_42b.jpg"></a>

    <a href="<%-imgPath%>230807_43.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_43b.jpg"></a>

    <a href="<%-imgPath%>230807_44.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_44b.jpg"></a>

    <a href="<%-imgPath%>230807_45.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_45b.jpg"></a>

    <a href="<%-imgPath%>230807_46.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_46b.jpg"></a>
    <a href="<%-imgPath%>230807_47.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_47b.jpg"></a>

    <a href="<%-imgPath%>230807_48.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_48b.jpg"></a>

    <a href="<%-imgPath%>230807_49.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_49b.jpg"></a>

    <a href="<%-imgPath%>230807_50.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_50b.jpg"></a>

    <a href="<%-imgPath%>230807_51.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_51b.jpg"></a>

    <a href="<%-imgPath%>230807_52.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_52b.jpg"></a>

    <a href="<%-imgPath%>230807_53.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_53b.jpg"></a>

    <a href="<%-imgPath%>230807_54.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_54b.jpg"></a>
    <a href="<%-imgPath%>230807_55.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_55b.jpg"></a>

    <a href="<%-imgPath%>230807_56.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_56b.jpg"></a>

    <a href="<%-imgPath%>230807_57.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_57b.jpg"></a>

    <a href="<%-imgPath%>230807_58.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_58b.jpg"></a>

    <a href="<%-imgPath%>230807_59.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_59b.jpg"></a>

    <a href="<%-imgPath%>230807_60.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_60b.jpg"></a>

    <a href="<%-imgPath%>230807_61.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_61b.jpg"></a>

    <a href="<%-imgPath%>230807_62.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_62b.jpg"></a>
    <a href="<%-imgPath%>230807_63.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_63b.jpg"></a>

    <a href="<%-imgPath%>230807_64.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_64b.jpg"></a>

    <a href="<%-imgPath%>230807_65.jpg"  rel="lightbox"><img src="<%-imgPath%>230807_65b.jpg"></a>
  </div> 

</section>







