<section class="classes">    
  <div class="info"> 
    <span class="title">日本テレビ「ヒルナンデス」に出演しました</span>（2023.9.23更新）</p>
    <p>9月18日（月）に放送された、日本テレビ「ヒルナンデス」に出演しました。</p>
    <p>藤田ニコルさんご結婚スペシャルということで、ニコルさんの大好物</p>
    <p>キュウリでケーキを制作。</p>
    <p>ハートはお得用の曲がったキュウリを使い、中もぎっしりキュウリなので</p>
    <p>普通のケーキ同様に全部食べられます。</p>
    <p>ニコルさんご結婚おめでとうございます。<br>
    </p>
  </div>

  <div class="pics">
    <a href="<%-imgPath%>2300923_1.jpg"  rel="lightbox"><img src="<%-imgPath%>2300923_1_1.jpg"/></a>
    <a href="<%-imgPath%>2300923_2.jpg"  rel="lightbox"><img src="<%-imgPath%>2300923_2_1.jpg"/></a>
    <a href="<%-imgPath%>2300923_3.jpg"  rel="lightbox"><img src="<%-imgPath%>2300923_3_1.jpg"/></a>
    <a href="<%-imgPath%>2300923_4.jpg"  rel="lightbox"><img src="<%-imgPath%>2300923_4_1.jpg"/></a>
    <a href="<%-imgPath%>2300923_5.jpg"  rel="lightbox"><img src="<%-imgPath%>2300923_5_1.jpg"/></a>
  </div>
  
  <div class="info">
    <p>＊画像をクリックすると拡大します。</p>
  </div>         
</section>