<style>
    .pics {
        & img {
            width: auto;
            height: 26rem;
            margin-bottom: 3rem;
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
    p {
        white-space: pre-line;
        line-height: 1.5;
    }
</style>
<section class="classes">
    <div class="info">
        <p><strong>キャンドルカービング&タイ料理ディナーコース</strong><br></p>


<p>
タイの食と文化を楽しめる
"Feel the THAI @ASAI KYOTO SHIJO" 

第6弾となる今回はキャンドルを彫ってバラの花を作ります。

カービングが初めての方も、ナイフの使い方から丁寧にお伝えしますので安心してご参加ください。

作品を仕上げた後は本場バンコクのシェフが企画した特別タイ料理ディナーコースをご賞味ください。
カービングの疲れを癒す乾杯ドリンク付きです。

皆様のご参加お待ちしています。

12月9日(火) 
15:00〜　キャンドルカービング
17:00〜    タイ料理ディナー

会場　ASAI 京都四条ホテル
四条烏丸から徒歩5分

参加費　11,500円
 (カービング+ディナー／材料費・税込)
＊ナイフは無料貸出しいたします

お申込みは
075-708-5698   
アルファアカデミー
またはこちらから↓
<a href="https://www.alphaupup.com/feel-the-thai/">https://www.alphaupup.com/feel-the-thai/</a>

</p>



    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>251114_1.jpg"  data-lightbox="1"><img src="<%-imgPath%>251114_1.jpg"/></a>
        <a href="<%-imgPath%>251114_2.jpg"  data-lightbox="1"><img src="<%-imgPath%>251114_2.jpg"/></a>
        <a href="<%-imgPath%>251114_3.jpg"  data-lightbox="1"><img src="<%-imgPath%>251114_3.jpg"/></a>

    </div>
</section>
